OWM_MOCK_URL=http://localhost:8081
KAFKA_BROKERS=localhost:9092
NATS_URL=nats://localhost:4222
ETCD_ENDPOINTS=localhost:2379
ARROW_FLIGHT_ADDR=localhost:8815
CITIES=Moscow,Saint-Petersburg,Novosibirsk,Yekaterinburg,Kazan,Stockholm,Berlin,London,New-York,Tokyo
POLL_INTERVAL_SEC=10
WINDOW_SIZE_SEC=60
